body{
    font-family: 'Tajawal', sans-serif;
    height:100%;
    background: linear-gradient(#162058, #432755);
}

h1{
    font-weight: 700;
    font-size: 2.5em;
    margin:0;
    padding:0;
}

hr{
    width:90%;
    height:5px;
    background-color: #162058;
    border:0;
    border-radius:2px;
}

#container{
    width:58%;
    margin: auto;
    border: 30px solid #f58767;
    background-color: #f4f5f7;
    padding: 30px;

}

.text{
    font-size: 1.5em;
    margin:0;
    padding: 0;
}

.date{
    text-transform:uppercase;
    letter-spacing: .15em;
    font-size: 1.25em;
    color: #f58767;
}

.quote{
    padding-left:10px;
    border-left: 10px solid green;
}

.post{
    margin-bottom: 25px;
}