html {
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1460572894071-bde5697f7197);
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    font-size: 5em;
    font-weight: 700;

}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 13px 23px rgba(0,0,0,0.1);
}

hr {
    width:400px;
    border-top: 1px solid #f8f8f8;
}